{
	"car": {
		"license": "XXXXXX",
		"address": {
			"streetNumber": "1000",
			"streetName": "Market Street"
		}
	},
	"email": {
		"to": "youremail@gmail.com",
		"config": {
			"service": "Gmail",
			"auth": {
				"user": "emailtosendfrom@gmail.com",
				"pass": "password"
			}
		}
	}
}
